


{% block content %}
<div class="row mb-4">
            <div class="col-md-6">
                <div class="chart-container card-hover-effect animated-card">
                    <h5 class="card-title">Statistiques des Chambres</h5>
                    <canvas id="chambresChart"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chart-container card-hover-effect animated-card">
                    <h5 class="card-title">Statistiques des Lits</h5>
                    <canvas id="litsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    