{# templates/emails/account_locked.html.twig #}

<p>Hello {{ user.Email }},</p>
<p>Your account has been locked due to too many failed login attempts. Please try again after 15 minutes.</p>
<p>If you did not attempt to log in, please contact support immediately.</p>