<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rappel de rendez-vous</title>
</head>
<body>
    <h1>Bonjour {{ rendezVous.patient.nom }},</h1>

    <p>Nous vous rappelons que vous avez un rendez-vous prévu avec le Dr. {{ rendezVous.medecin.nom }} demain.</p>
    <p><strong>Date :</strong> {{ rendezVous.date ? rendezVous.date|date('d/m/Y') : '' }}</p>
    <p><strong>Heure :</strong> {{ rendezVous.heure }}</p>

    <p>Merci de votre confiance.</p>
    <p>Cordialement,</p>
    <p>Votre équipe médicale</p>
</body>
</html>